fastapi
gunicorn
uvicorn[standard]
websockets
openai
kubernetes
requests
python-dotenv
azure-identity
azure-keyvault-secrets
sqlalchemy
asyncpg
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
authlib
email-validator
httpx
cryptography
python-multipart
stripe
