.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.json
plan.json
terraform-show*.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend.hcl
__pycache__/
*.pyc
